<div style="position: absolute; left: 20%;" >
<div style="position: absolute; left: 390px; top: 0px;"><h1>Ruby - Wompi</h1></div>  
<div style="position: absolute; left: 20%; top: 80%; background-color: gold; font-size: 50px;">
<a href="registarse">Registarse</a></div>
<div style="position: absolute; left: 60%; top: 80%; background-color: gold; font-size: 50px;">
<a href="login">Login</a></div>
<img class="center" src="pictures/bici_w.gif"> 
</div>


